html, body {
    margin:0; padding:0;
}

a {
    color: #4b96e6;
}

a:visited {
    color: #4b96e6;
}

a:active {
    color: #4b96e6;
}

#wrap {
    position: relative;
}

.header {
    background-color: #4a95e5;
    border-bottom: 1px solid #4082c7;
}
.header h3 {
    padding: 0 0 5px 10px;
}

.header h3 a,
.header h3 a small {
    color: #fff;
    text-decoration: none;
}

.navigation {
    padding:0 10px;
    float: left;
    width: 250px;
    height: 100%;
    background-color: #f4f7f8;
}

.navigation a {
    text-decoration: none;
}

.navigation h3 {
    margin-top: 25px;
    border-bottom: 1px solid #999;
}

.navigation ul {
    padding-left: 25px;
}
.navigation li {
    height: 22px;
    padding-top:3px;
    list-style-type: none;
    border-bottom: 1px solid #dedede;
}

.main {
    padding: 20px;
}

.main section header {
    padding-top: 20px;
    border-bottom: 1px solid #999;
}

.main section header h2 {
    border-left: 5px solid #4a95e5;
    padding-left : 5px;
    font-size:18px;
}

.main section article {
    padding: 10px;
}



.main section article .readme {
}

.main section article .readme h2 {
    padding: 0 15px;
    font-size: 15pt;
}

.main section article .readme p {
    padding: 0 45px;
}





.main section article .container-overview {
    padding: 15px 15px 0 15px;
    border: 1px solid #dedede;
    border-radius: 7px;
}


.main section article .details li {
    list-style: none;
}



.main section article .subsection-title {
    padding:10px 0 0 5px;
    border-bottom: 1px solid #dedede;
}

.main section article dl h4 {
    font-size: 12pt;
    font-weight: bold;
}

.main section article dl h4 .type-signature,
.main section article dl h4 .signature {
    color: #31708f;
    font-size: 9pt;
    font-weight: normal;
}

.main section article dl dt .name {
    padding: 3px 10px;
    background-color: #f4f7f8;
}

.main section article dl dd {
    padding: 0 30px;
}

.main section article dl dd h5{
    font-weight: bold;
}

.main section article dl dd table {
    margin: 0 30px 10px 30px;
}

.main section article dl dd table thead th,
.main section article dl dd table tbody td {
    border: 1px solid #dedede;
    padding: 3px 10px;
    text-align: center;
}
.main section article dl dd table thead th {
    background-color: #f4f7f8;
}

.main section article dl dd table tbody td {
    padding: 2px 5px;
}

.main section article dl dd table tbody .last {
    text-align: left;
}
