{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-destructuring", { "loose": true }],
    ["@babel/plugin-transform-for-of", { "loose": true }],
    ["@babel/plugin-transform-spread", { "loose": true }],
    ["@babel/plugin-proposal-class-properties"]
  ]
}
