<div class="tui-image-editor-container {{className name}}">
    <div class="{{className menu}}"></div>
    <div class="{{className subMenu}}"></div>
    <div class="{{className canvas}}">
        <canvas></canvas>
    </div>
</div>
