<div class="{{className name}}">
    <div id="uploader"></div>
    {{!--<div id="list">--}}
        {{!--<div class="count">count : <strong id="file_count"></strong></div>--}}
        {{!--<div class="size">size : <strong id="size_count"></strong></div>--}}
        {{!--<ul id="files"></ul>--}}
    {{!--</div>--}}
</div>
