ie-prefix = 'tui-image-editor-';
/* +prefix-classes() */

.{ie-prefix}container
  marign 0
  padding 0
  box-sizing border-box
  min-height 300px
  height 100%
  position relative
  background-color #282828
  border 1px solid #000
  overflow hidden

  div, ul, label, input, li
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  /* BUTTON AND LOGO */
  .{ie-prefix}header
    min-width: 533px;
    position: absolute;
    background-color: #151515;
    top: 0;
    width: 100%;


