
+prefix-classes(prefix)
  .-container
    marign: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 300px;
    height: 100%;
    position: relative;
    background-color: #282828;
    border: 1px solid #000;
    overflow: hidden;
  
    div, ul, label, input, li
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      -ms-user-select: none; 
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
  
    .-header
        /* BUTTON AND LOGO */
        min-width: 533px;
        position: absolute;
        background-color: #151515;
        top: 0;
        width: 100%;
    .-header-buttons,
    .-controls-buttons
        float: right;
        margin: 8px;

    .-header-logo,
    .-controls-logo
        float: left;
        width: 30%;
        padding: 17px;

    .-controls-logo,
    .-controls-buttons
        width: 270px;
        height: 100%;
        display: none;

    .-header-buttons button,
    .-controls-buttons button
        position: relative;
        width: 120px;
        height: 40px;
        outline: none;
        border-radius: 20px;
        border: 1px solid #ddd;
        padding-top: 5px;
        font-family: NotoSans, sans-serif;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;

    .-download-btn
        background-color: #fdba3b;
        border-color: #fdba3b;
        color: #fff;
    .-load-btn
        border: 1px solid blue;
        position: absolute;
        left: 0;
        right: 0;
        display: inline-block;
        top: 0;
        bottom: 0;
        width: 100%;
        opacity: 0;
        cursor: pointer;
    .-main-container
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 64px;
    .-main
        position: absolute;
        text-align: center;
        top: 64px;
        bottom: 0;
        right: 0;
        left: 0;
    .-wrap
        position: absolute;
        bottom: 150px;
        width: 100%;
        overflow: auto;
    .
        position: absolute;
        display: inline-block;
        transition: all .7s ease;


/* BIG MENU */
.{prefix}-container
    .{prefix}-menu
        width: auto;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        > .item
            display: inline-block;
            border-radius: 2px;
            padding: 7px 8px 3px 8px;
            cursor: pointer;
        > .item.active
            background-color: #fff;
            transition: all .3s ease;
    .{prefix}-wrap
        position: absolute;