body {
    font-family: Helvetica Neue, Helvetica, Arial, Malgun gothic, '돋움', AppleSDGothicNeo;
}

#wrap {
    position: relative;
    overflow:hidden;
}

.header {
    background-color: #398df0;
    border-bottom: 1px solid #196fc2;
    height: 50px;
}

.header a,
.header small{
    color: #f9f9f9;
}

.navigation {
    padding: 20px 15px;
    float: left;
    background-color: #f4f7f8;
    overflow: auto;
    min-width: 250px;
}

.navigation h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.navigation ul {
    padding: 7px 0 15px 11px;
    list-style: none;
}

.navigation ul.list li.item {
    padding: 6px 0 5px 0;
    border-bottom: 1px solid #ddd;
}

.navigation ul.list li.item.selected {
    background-color: #fff;
    padding: 7px 0;
}

.navigation ul.list li.item span.title {
    padding-right: 5px;
}

.navigation ul.list li.item.selected span.title {
    font-weight: bold;
    font-size: 120%;
}

.navigation ul.list li.item .p-item {
    color: #666;
    font-size: 85%;
}

.navigation ul.sublist {
    display: none;
    padding: 5px 0 0 15px;
}

.navigation ul.sublist.selected {
    display: block;
}

.navigation ul.sublist li a {
    padding-left: 15px;
    color: #000;
}

.navigation ul.sublist span {
    color: #c7254e;
    font-size: 90%;
}

.navigation ul.sublist.division li {
    border-bottom: 1px dotted #ccc;
}

.navigation li span.icon.static {
    float: right;
    margin-top: 1px;
    margin-right: 2px;
    padding: 0 2px;
}

.main {
    padding: 0 20px;
    overflow: auto;
}

.main { min-width: 800px; }

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6
{
    margin-top: 0 !important;
}

.main section header {
    padding-top: 20px;
    border-bottom: 1px solid #999;
}

.main section header h2 {
    padding-left : 5px;
    border-left: 5px solid #dc9656;
    font-size: 18px;
}

.main section article {
    padding: 10px;
}

.main section article .readme {
    /*background-color: #f9f9f9;
    border: 1px solid #428bca;
    border-radius: 4px;*/
}

.main section article .readme h1 {
    margin: 5px 20px;
    padding: 24px 0 5px 0;
    border-bottom: 1px solid #428bca;
}

.main section article .readme p {
    padding: 5px 30px;
    color: #0082c6;
}

.main section article .readme h2 {
    margin: 5px 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid #dedede;
    font-size: 13pt;
}

.main section article .readme ul {
    padding: 5px 30px 20px;
}

.main section article .readme table {
    margin: 5px 30px 20px;
}

.main section article .readme table th,
.main section article .readme table td {
    padding: 2px 20px 2px 5px;
    border-bottom: 1px solid #dedede;
}

.main section article .container-overview {
    padding: 15px 15px 0 15px;
    border: 1px solid #dedede;
    /*border-radius: 7px;*/
}

.main section article li {
    list-style: none;
}

.main section article h3.subsection-title {
    color: #4a95e5;
    padding:35px 0 0 5px;
    border-bottom: 1px solid #dedede;
}

.main section article dl h4 {
    font-size: 11pt;
    font-weight: bold;
}

.main section article dl h4 .signature {
    font-size: 9pt;
}

.main section article dl h4 .type-signature {
    font-size: 9pt;
    color: #31708f;
    font-weight: normal;
}

.main .main-detail {overflow:hidden;}
.main .main-detail dt { float:left; clear:both; }
.main .main-detail dd { float:left; padding:0; } 
.main section article dl dt .name {
    padding: 3px 10px;
    background-color: #f4f7f8;
}

.main section article dl dd {
    padding: 0 30px;
}

.main section article dl dd h5{
    font-weight: bold;
}

.main section article .container-source {
    margin: -15px -15px 3px 0;
    font-weight: normal;
    font-size: 8pt;
    text-align: right;
    padding-right: 10px;
}

.main section article .container-params,
.main section article .container-returns,
.main section article .container-inherits {
    padding: 7px 0;
}

.main section article .container-properties div.properties,
.main section article .container-params div.params,
.main section article .container-returns div.returns,
.main section article .container-inherits div.inherits {
    padding-left: 6px;
    border-left: 3px solid #f4f7f8;
}

.main section article .container-properties div.properties {
    margin-top: -3px;
}

.main section article .container-returns div.details,
.main section article .container-inherits div.details {
    margin-top: -6px;
}

.main section article .container-properties h5,
.main section article .container-returns h5,
.main section article .container-inherits h5,
.main section article table th,
.main section article table td.type,
.main section article table td.attributes {
    font-family: Verdana, sans-serif;
    font-size: 90%;
}

.main section article table,
.main section article table th,
.main section article table td {
    font-family: Verdana, sans-serif;
    vertical-align: top;
    border: 0;
    padding: 1px 3px;
}

.main section article table td.name,
.main section article table td.type,
.main section article table td.attributes,
.main section article table td.default {
    width: 100px;
    word-break: break-all;
}

.main section article table td.type,
.main section article table td.attributes {
    color: #aaa;
}

.main section article table td p {
    padding: 0;
    margin: 0;
}

.main section article table td h6 {
    padding: 10px 0 0 3px;
    margin: 0;
}

span.icon {
    font-size: 8pt;
    border-radius: 3px;
    padding: 1px 2px;
}
span.icon.green {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
span.icon.blue {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
span.icon.yellow {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
span.icon.red {
    color: #A94443;
    background-color: #f2dede;
    border-color: #ebccd1;
}

span.arrow {
    font-size: 8pt;
    padding-right: 5px;
}
